body {
	padding: 0 1rem;
	font-family: sans-serif;
}

.switch {
	position: relative;
	display: inline-block;
	width: 34px;
	height: 126px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* the control */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #aaa;
}

/* the button */
.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 96px;
	background-color: white;
	transition: .5s;
}

/* when clicked, changes background of control */
input:checked+.slider {
	background-color: #2196F3;
}

/* when clicked, shifts button right*/
/* when unclicked, shifts button left*/
input:checked+.slider:before {
	transform: translateY(93px);
	transition-timing-function: 
	cubic-bezier(0,1.81,.56,.49)
}

/* keyboard */
input:focus+.slider {
	outline: 3px solid blue;
	box-shadow: 0 0 10px red;
}

/* makes rounded edges on the control */
.slider.round {
	border-radius: 34px;
}

/* makes rounded edges on the button */
.slider.round:before {
	border-radius: 50%;
}